#Proyecto 1 - Relacion Minutos Ingresos

In [55]:
import pandas as pd

In [61]:
#DF=pd.read_csv('../Datos/Credito_dias.csv')
df=pd.read_csv('../Datos/Credito_dias.csv',index_col="Customer_ID")

In [67]:
df.head(10)

              totmou   totrev creditcd  eqpdays
Customer_ID
1082423       7269.0   906.58        Y      371
1069232      13552.0  1172.25        N       83
1031705       4152.0   577.39        Y      675
1089806       1863.0   294.26        Y      218
1076695       4155.0   433.16        N      222
1091652       5441.0   578.80        Y       68
1043846       7294.0  1495.18        Y      460
1088967       4395.0   668.23        N      333
1045239      11544.0  1012.64        Y      498
1046584       3751.0  1199.89        Y      592

In [69]:
df.tail(5)  # imprime los Ãºltimos n registros del DataFrame

             totmou   totrev creditcd  eqpdays
Customer_ID
1027614      2570.0   484.31        Y      611
1098422      2105.0   583.36        Y     1243
1096497      3690.0   294.29        Y      212
1087248      3333.0   233.08        Y      290
1099003      5025.0  1436.49        Y     1029

In [71]:
df.shape    # imprime el numero de columnas y filas del DataFrame

(10000, 4)

In [73]:
df.columns  # imprime el nombre de las columnas del DataFrame

Index(['totmou', 'totrev', 'creditcd', 'eqpdays'], dtype='object')

In [75]:
df.index    # imprime el indice de los registros del DataFrame

Index([1082423, 1069232, 1031705, 1089806, 1076695, 1091652, 1043846, 1088967,
       1045239, 1046584,
       ...
       1087145, 1002540, 1044082, 1083458, 1093976, 1027614, 1098422, 1096497,
       1087248, 1099003],
      dtype='int64', name='Customer_ID', length=10000)

In [77]:
df.dtypes   # imprime el tipo de cada una de las columnnas del DataFrame

totmou      float64
totrev      float64
creditcd     object
eqpdays       int64
dtype: object

In [79]:
df.sample(10)# imprime una muestra aleatoria de n registros en el DataFrame

              totmou   totrev creditcd  eqpdays
Customer_ID
1040972      26813.0  2615.33        N      263
1072533       4799.0   601.14        Y      350
1010166       1048.0  2054.80      NaN      975
1022834      24479.0  2551.83        Y      184
1015791       1963.0   899.67        Y      795
1039039       4001.0   619.76        Y      280
1039021       2654.0   886.63        Y      666
1005797       9441.0  1412.95        N      379
1080604       2050.0   265.50        Y       11
1078528       5684.0   866.70        Y      322

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 1082423 to 1099003
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   totmou    10000 non-null  float64
 1   totrev    10000 non-null  float64
 2   creditcd  9848 non-null   object
 3   eqpdays   10000 non-null  int64
dtypes: float64(2), int64(1), object(1)
memory usage: 390.6+ KB